body {
font-family: "Myriad Pro", sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}

.letter{
    color:rgb(75, 202, 255);
}

.logo{
    padding-top: 30px 0;
}
.logo-item-link{
   text-decoration: none;
   font-size: 80px;
   color: #000;
}
.menu{
    background-color: rgb(53,68,79);
    font-size: 25px ;
    
}  
.menu-list{
    margin: 10px;
    text-align: center;
}
.menu-list-item{
    list-style: none;
    display: inline-block;
}
.menu-list-link{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;  
    border: 1px solid transparent;  
}

.menu-list-link:hover {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color:#222F3A ;
}

.side-bar{
    border: 1px solid #000;
    display: inline-block;
    vertical-align: top;
}
.side-bar-menu{
    list-style: none;
    padding: 0;
}




.side-bar-item{

}

.side-bar-item:hover {
    background-color: #eaeaea;
}
.side-bar-item:hover .side-bar-link {
    transform: translateX(20px);
}


.side-bar-link{
    text-decoration: none;
    padding: 15px 110px 15px 20px;
    display: block;
    transition: 1s;
    color: #000;
}

.content{
    display: inline-block;
    width: 885px;
}
.img-container{
    text-align: center;
    padding: 50px 0;
    border: 1px solid #000;
}
.text-container{
    font-size: 15px;
    margin: 35px;
}
.footer{
    background-color: #B4B7BA;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    

}



.footer-menu{
    list-style: none;
}

.footer-menu .footer-menu-item .footer-menu-link:hover{
    color: #5A9BDC;
    border-bottom: 1px solid #3181A6;
}

.footer-menu-item{
    display: inline-block;
    
}
.footer-menu-link{
    text-decoration: none;
    display: block;
    color: #000;
    padding: 0px 5px 0px 5px;
    
}


.footer-menu span{
    padding-left: 75px;
    padding-right: 17px;
    text-decoration: none;
    color: #000;

}



